*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

;

.centralizer {
    margin: 0 auto;
    font-family: "Trebuchet MS", "Helvetica", sans-serif
}

.textarea {
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #299c8b
}

.shiftOff,
.shiftOn,
.shiftAndCaps,
.caps {
    display: block;
    width: 100;
    min-height: 40px
}

.hidden {
    display: none
}

.description,
.language,
.title {
    margin: 10px auto;
    text-align: center
}

.title {
    font-size: 30px;
    color: rgba(101, 134, 177, 0.8);
    -webkit-text-stroke: 1px rgba(114, 177, 101, 0.8);
    -webkit-text-fill-color: rgba(101, 134, 177, 0.8)
}

.keyboard {
    width: 750px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    background: #4f4f4a;
    border: 2px solid #140250;
    border-radius: 8px
}

.keyboard .row {
    clear: both;
    width: 100%;
    height: 40px;
    margin-bottom: 8px
}

.keyboard .key {
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 6px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #f6ecec;
    background: #677281;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: border-radius 0.3s, background-color 0.3s
}

.keyboard .key:hover {
    background: #82a6c8
}

.keyboard .key.active {
    background-color: #82a6c8;
    border-radius: 50px
}

.keyboard .AltLeft,
.keyboard .AltRight,
.keyboard .ArrowUp,
.keyboard .ArrowLeft,
.keyboard .ArrowDown,
.keyboard .ArrowRight,
.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .ControlLeft,
.keyboard .ControlRight,
.keyboard .Delete,
.keyboard .Enter,
.keyboard .ShiftLeft,
.keyboard .ShiftRight,
.keyboard .Tab,
.keyboard .MetaLeft {
    font-weight: 600;
    background-color: #222222;
    border-radius: 21px;
}

.keyboard .Tab {
    width: 60px;
    border-radius: 21px;
}

.keyboard .CapsLock {
    width: 74px;
}
.keyboard .ShiftLeft {
    width: 90px;
    border-radius: 21px;
}
.keyboard .Backspace {
    border-radius: 21px; 
    width:110px;
}

.keyboard .Delete {
    width: 44px;
    border-radius: 21px;
}

.keyboard .Enter,
.keyboard .ShiftRight {
    width: 105px;
    border-radius: 21px;
}

.keyboard .Space {
    width: 330px;
    border-radius: 21px;
}